---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeroBoxResa from "../components/HeroBoxResa.astro";
import ResaForm from "../components/Resa.jsx";
import AccordionPricing from "../components/AccordionPricing.astro";
import VertScroll from "../assets/img/vert-scroll.png";
import CTABandContact from "../components/CTABandContact.astro";
//import { getXataClient } from "../xata";
//const xata = getXataClient();
//const record = await xata.db.Reservations.read("rec_cm87vvsofvchp6jd7pqg");
---

<Layout
	title="Bienvenue à bord, capitaine."
	description="Ceci est la meta description">
	<Header />
	<HeroBoxResa />
	<main>
		<section class="intro">
			<div class="container">
				<div class="inner">
					<svg
						class="mx-auto mb-2"
						width="41"
						height="47"
						viewBox="0 0 41 47"
						fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M2.92857 20.5625C2.92857 18.248 3.38307 15.9561 4.26612 13.8177C5.14916 11.6793 6.44347 9.73638 8.07512 8.09974C9.70678 6.46311 11.6438 5.16486 13.7757 4.27912C15.9076 3.39338 18.1925 2.9375 20.5 2.9375C22.8075 2.9375 25.0924 3.39338 27.2243 4.27912C29.3562 5.16486 31.2932 6.46311 32.9249 8.09974C34.5565 9.73638 35.8508 11.6793 36.7339 13.8177C37.6169 15.9561 38.0714 18.248 38.0714 20.5625C38.0714 22.877 37.6169 25.1689 36.7339 27.3073C35.8508 29.4457 34.5565 31.3886 32.9249 33.0253C31.2932 34.6619 29.3562 35.9601 27.2243 36.8459C25.0924 37.7316 22.8075 38.1875 20.5 38.1875C18.1925 38.1875 15.9076 37.7316 13.7757 36.8459C11.6438 35.9601 9.70678 34.6619 8.07512 33.0253C6.44347 31.3886 5.14916 29.4457 4.26612 27.3073C3.38307 25.1689 2.92857 22.877 2.92857 20.5625ZM38.0714 31.1559V41.125C38.0714 42.7498 36.7627 44.0625 35.1429 44.0625H5.85714C4.23728 44.0625 2.92857 42.7498 2.92857 41.125V31.1559C6.51607 37.1318 13.0413 41.125 20.5 41.125C27.9587 41.125 34.4839 37.1318 38.0714 31.1559ZM0 20.5625V41.125C0 44.3654 2.62656 47 5.85714 47H35.1429C38.3734 47 41 44.3654 41 41.125V20.5625C41 9.20723 31.8208 0 20.5 0C9.17924 0 0 9.20723 0 20.5625ZM20.5 8.8125C19.6946 8.8125 19.0357 9.47344 19.0357 10.2812V20.5625C19.0357 20.948 19.1913 21.3244 19.4658 21.5998L23.8587 26.0061C24.4261 26.5752 25.3596 26.5752 25.927 26.0061C26.4944 25.4369 26.4944 24.5006 25.927 23.9314L21.9643 19.9566V10.2812C21.9643 9.47344 21.3054 8.8125 20.5 8.8125Z"
							fill="#3C1518"></path>
					</svg>
					<h2>Horaires d’ouverture</h2>
					<h3>Notre parc accrobranche vous accueille</h3>
					<p>
						<span class="h4">Pendant les vacances scolaires</span>
						Du lundi au dimanche, de 13h / 19h
					</p>
					<p>
						<span class="h4">Hors vacances scolaires</span>
						Mercredi : 13h / 19h | Week-end : 13h / 19h
					</p>
					<p class="warn">
						En cas d’intempéries, il est possible que le parc soit fermé, donc
						n’hésitez pas à nous appeler !
					</p>
					<div class="contactmed">
						<div class="leftc">
							<svg
								width="43"
								height="38"
								viewBox="0 0 43 38"
								fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M2.6875 9.45937V13.625H8.80996L7.27305 16.3125H2.6875C1.20098 16.3125 0 15.1115 0 13.625V9.36699C0 8.65312 0.285547 7.97285 0.831445 7.51094C3.2082 5.51211 10.5736 0.1875 21.5 0.1875C32.4264 0.1875 39.7918 5.51211 42.1686 7.51094C42.7145 7.97285 43 8.65312 43 9.36699V13.625C43 15.1115 41.799 16.3125 40.3125 16.3125H35.727L34.19 13.625H40.3125V9.45937C38.0449 7.58652 31.343 2.875 21.5 2.875C11.657 2.875 4.95508 7.58652 2.6875 9.45937ZM2.6875 31.1777C2.6875 30.2455 2.93105 29.3217 3.39297 28.507L11.8838 13.6418C12.7656 12.0965 14.3613 11.0887 16.1166 10.9543V8.25C16.1166 7.51094 16.7213 6.90625 17.4604 6.90625C18.1994 6.90625 18.8041 7.51094 18.8041 8.25V10.9375H24.1791V8.25C24.1791 7.51094 24.7838 6.90625 25.5229 6.90625C26.2619 6.90625 26.8666 7.51094 26.8666 8.25V10.9543C28.6303 11.0971 30.2176 12.0965 31.0994 13.6418L39.5902 28.507C40.0521 29.3217 40.2957 30.2371 40.2957 31.1777V33.7812C40.2957 36.0068 38.49 37.8125 36.2645 37.8125H6.71875C4.49316 37.8125 2.6875 36.0068 2.6875 33.7812V31.1777ZM25.5312 13.625H17.4688H16.5533C15.5875 13.625 14.6973 14.1457 14.2186 14.9771L5.72773 29.8424C5.50098 30.2539 5.375 30.7074 5.375 31.1777V33.7812C5.375 34.5203 5.97969 35.125 6.71875 35.125H36.2812C37.0203 35.125 37.625 34.5203 37.625 33.7812V31.1777C37.625 30.7074 37.499 30.2539 37.2723 29.8424L28.7814 14.9771C28.3027 14.1373 27.4125 13.625 26.4467 13.625H25.5312ZM17.4688 24.375C17.4688 25.4442 17.8935 26.4695 18.6495 27.2255C19.4055 27.9815 20.4308 28.4062 21.5 28.4062C22.5692 28.4062 23.5945 27.9815 24.3505 27.2255C25.1065 26.4695 25.5312 25.4442 25.5312 24.375C25.5312 23.3058 25.1065 22.2805 24.3505 21.5245C23.5945 20.7685 22.5692 20.3438 21.5 20.3438C20.4308 20.3438 19.4055 20.7685 18.6495 21.5245C17.8935 22.2805 17.4688 23.3058 17.4688 24.375ZM21.5 31.0938C19.7181 31.0938 18.0091 30.3859 16.7491 29.1259C15.4891 27.8659 14.7812 26.1569 14.7812 24.375C14.7812 22.5931 15.4891 20.8841 16.7491 19.6241C18.0091 18.3641 19.7181 17.6562 21.5 17.6562C23.2819 17.6562 24.9909 18.3641 26.2509 19.6241C27.5109 20.8841 28.2188 22.5931 28.2188 24.375C28.2188 26.1569 27.5109 27.8659 26.2509 29.1259C24.9909 30.3859 23.2819 31.0938 21.5 31.0938Z"
									fill="#3C1518"></path>
							</svg> 02 31 74 19 09
						</div>
						<div class="rightc">
							<svg
								width="29"
								height="44"
								viewBox="0 0 29 44"
								fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M20 2.75V4.125C20 5.64609 18.7711 6.875 17.25 6.875H11.75C10.2289 6.875 9 5.64609 9 4.125V2.75H6.25C4.72891 2.75 3.5 3.97891 3.5 5.5V38.5C3.5 40.0211 4.72891 41.25 6.25 41.25H22.75C24.2711 41.25 25.5 40.0211 25.5 38.5V5.5C25.5 3.97891 24.2711 2.75 22.75 2.75H20ZM17.25 2.75H11.75V4.125H17.25V2.75ZM0.75 5.5C0.75 2.46641 3.21641 0 6.25 0H22.75C25.7836 0 28.25 2.46641 28.25 5.5V38.5C28.25 41.5336 25.7836 44 22.75 44H6.25C3.21641 44 0.75 41.5336 0.75 38.5V5.5Z"
									fill="#3C1518"></path>
							</svg>
							06 23 27 50 90
						</div>
					</div>
				</div>
				<img
					src="/img/corner-decoration.png"
					width="145"
					height="145"
					alt="Décoration"
					class="absolute -top-2 -left-2"
				/>
				<img
					src="/img/corner-decoration.png"
					width="145"
					height="145"
					alt="Décoration"
					class="absolute -top-2 -right-2 rotate-90"
				/>
				<img
					src="/img/corner-decoration.png"
					width="145"
					height="145"
					alt="Décoration"
					class="absolute -bottom-2 -left-2 -rotate-90"
				/>
				<img
					src="/img/corner-decoration.png"
					width="145"
					height="145"
					alt="Décoration"
					class="absolute -bottom-2 -right-2 rotate-180"
				/>
			</div>
		</section>
		<section class="pricing">
			<svg
				class="mx-auto"
				width="62"
				height="62"
				viewBox="0 0 62 62"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_181_3502)">
					<path
						d="M24.4006 17.4376H37.6L38.2419 17.8494C44.8777 22.1 58.1255 32.4894 58.1255 50.3751C58.1255 54.6496 54.6502 58.1248 50.3757 58.1248H11.6249C7.35039 58.1248 3.87515 54.6496 3.87515 50.3751C3.87515 32.4894 17.1229 22.1 23.7706 17.8494L24.4125 17.4376H24.4006ZM36.3163 13.5624H25.6843L24.8732 12.3758L19.0003 3.87515H43.0009L37.1399 12.3758L36.3288 13.5624H36.3169H36.3163ZM18.4794 16.7713C11.0438 22.2449 0 33.1068 0 50.3751C0 56.7928 5.20719 62 11.6249 62H50.3746C56.7922 62 61.9994 56.7928 61.9994 50.3751C61.9994 33.1074 50.9557 22.2449 43.5206 16.7718C42.3459 15.9118 41.2684 15.1734 40.3237 14.5798L42.5277 11.3829L47.2384 4.55339C48.5586 2.62773 47.1776 0 44.8408 0H17.1587C14.8218 0 13.4408 2.62773 14.761 4.55339L19.4717 11.3829L21.6757 14.5798C20.7436 15.1734 19.6535 15.9118 18.4788 16.7718L18.4794 16.7713Z"
						fill="#3C1518"></path>
					<path
						d="M37.4314 49.1981C36.3938 49.9008 34.6535 50.6034 32.4447 50.6034C29.7335 50.6034 27.3239 49.5658 25.6504 47.6247C24.3785 46.2187 23.5418 44.2776 23.2408 41.868H21.1655V40.2278H23.0733V39.726C23.0733 39.1908 23.1067 38.6883 23.1401 38.2199H21.1655V36.5463H23.3743C23.776 34.2035 24.7796 32.2623 26.1188 30.8904C27.8258 29.1167 30.0011 28.1124 32.7457 28.1124C34.7202 28.1124 36.2597 28.6816 37.1972 29.1834L36.5279 31.3922C35.6911 30.8903 34.2857 30.4553 32.7797 30.4553C30.9726 30.4553 29.4999 31.0912 28.3621 32.2963C27.3579 33.2672 26.6886 34.7732 26.3542 36.5469H35.6917V38.2205H26.0527C26.0193 38.6555 25.9859 39.1574 25.9859 39.6258V40.2284H35.6917V41.8685H26.2201C26.4877 43.8097 27.157 45.249 28.0612 46.2527C29.2996 47.5579 30.9726 48.1938 32.7802 48.1938C34.5879 48.1938 36.0934 47.5245 36.8634 47.0894L37.4326 49.1981H37.4314Z"
						fill="#3C1518"></path>
				</g>
				<defs>
					<clipPath id="clip0_181_3502">
						<rect width="62" height="62" fill="white"></rect>
					</clipPath>
				</defs>
			</svg>

			<h2>Tarifs</h2>
			<div class="pricing-container">
				<div class="pricing-box box1">
					<h3>Tarifs Enfants</h3>
					<div class="subelcontainer">
						<span class="subtitle">Pour les enfants de moins de 1m30</span>
						<AccordionPricing
							items={[
								{
									title: "Accès 2 parcours",
									answer:
										'<p>2 Baby Hobbits <sup>*</sup><br><span class="small">*A partir de 3 ans</span></p>',
									price: "8 €",
									isopen: true,
								},
								{
									title: "Accès 5 parcours",
									answer:
										'<p>2 Baby Hobbits + 3 Hobbits<sup>**</sup><br><span class="small">** Taille mini 1m10, Sous la supervision d\'un adulte</span></p>',
									price: "12 €",
								},
								{
									title: "Accès 6 parcours",
									answer:
										'<p>2 Baby Hobbits + 3 Hobbits + 1 Hobbit Tyro<sup>***</sup><br><span class="small">*** Taille mini 1m10, Sous la supervision d\'un adulte</span></p>',
									price: "15 €",
								},
							]}
						/>
					</div>
					<div class="subelcontainer">
						<span class="subtitle">Pour les enfants de plus de 1m30</span>
						<AccordionPricing
							items={[
								{
									title: "Accès 7 parcours",
									answer:
										"<p>3 Hobbits + 1 Hobbit Tyro + 3 Parcours adultes (Jaune + Bleu + Bleu Ulmo)</p>",
									isopen: true,
									price: "17 €",
								},
								{
									title: "Accès 8 parcours",
									answer:
										"<p>3 Hobbits + 1 Hobbit Tyro + 4 Parcours adultes (Jaune + Bleu + Bleu Ulmo + Rouge)<br></p>",
									price: "18 €",
								},
							]}
						/>
					</div>
					<img
						src="/img/box1-top-left.png"
						class="top-left"
						alt="Plantes"
						loading="lazy"
						width="130"
						height="299"
					/>
					<img
						src="/img/box1-top-right.png"
						class="top-right"
						alt="Plantes"
						loading="lazy"
						width="124"
						height="144"
					/>
					<img
						src="/img/box1-bottom-right.png"
						class="bottom-right"
						alt="Plantes"
						loading="lazy"
						width="102"
						height="75"
					/>
					<img
						src="/img/box1-bottom-left.png"
						class="bottom-left"
						alt="Plantes"
						loading="lazy"
						width="125"
						height="101"
					/>
				</div>
				<div class="pricing-box box2">
					<h3>
						Tarifs Adultes <span class="text-base font-sylfaen"
							>Taille min. 1 m 30</span
						>
					</h3>
					<div class="subelcontainer">
						<span class="subtitle"
							>5 parcours progressifs (en hauteur et difficulté)</span
						>
						<AccordionPricing
							items={[
								{
									title: "Accès 3 parcours",
									answer: "<p>Jaune + Bleu  + Bleu Ulmo</p>",
									price: "14 €",
									isopen: true,
								},
								{
									title: "Accès 4 parcours",
									answer: "<p>Jaune + Bleu  + Bleu Ulmo + Rouge</p>",
									price: "17 €",
								},
								{
									title: "Accès 5 parcours",
									answer: "<p>Jaune + Bleu  + Bleu Ulmo + Rouge + Noir</p>",
									price: "20 €",
								},
							]}
						/>
					</div>
					<div class="subelcontainer">
						<span class="subtitle">3 parcours à thèmes optionnels</span>
						<AccordionPricing
							items={[
								{
									title: "Parcours Fangorn",
									answer:
										"<p>Un parcours long avec une arrivée spectaculaire !</p>",
									isopen: true,
									price: "5 €",
								},
								{
									title: "Parcours Galadriel",
									answer:
										"<p>La plus grande tyrolienne du parc, départ à 14 m !</p>",
									price: "5 €",
								},
								{
									title: "Grand parcours Tyro 1km",
									answer: "<p>19 jeux et 11 tyroliennes !</p>",
									price: "5 €",
								},
							]}
						/>
					</div>
					<img
						src="/img/box2-top-left.png"
						class="top-left"
						alt="Plantes"
						loading="lazy"
						width="100"
						height="67"
					/>
					<img
						src="/img/box2-top-right.png"
						class="top-right"
						alt="Plantes"
						loading="lazy"
						width="148"
						height="107"
					/>
					<img
						src="/img/box1-bottom-left.png"
						class="bottom-right"
						alt="Plantes"
						loading="lazy"
						width="102"
						height="75"
					/>
				</div>
			</div>
			<div class="biglabel">
				<div class="label">
					<div class="left">
						<span class="big">Accès total au parc</span>
						<span class="small">Parcours adultes + parcours à thèmes</span>
					</div>
					<div class="right">30 €</div>
				</div>
			</div>
		</section>
		<section class="booking jarallaxresa">
			<img src="/img/resa-bck.jpg" alt="aventure" class="jarallax-img" />
			<div class="parcours-board"><h2>Réserver</h2></div>
			<div class="form-container">
				<h2>Prêt pour l'aventure ?</h2>
				<p>
					Réservez votre place au parc et recevez un mail de confirmation dans
					quelques minutes !
				</p>
				<ResaForm client:visible />
			</div>
		</section>
		<script>
			import { jarallax } from "jarallax";
			function initJarallax() {
				jarallax(document.querySelectorAll(".jarallaxresa"), {
					speed: 0.4,
				});
			}
			document.addEventListener("DOMContentLoaded", initJarallax);
			document.addEventListener("astro:page-load", initJarallax);
		</script>

		<CTABandContact />
	</main>
</Layout>

<Footer />

<style lang="scss">
	main {
		padding: 0;overflow-x:clip;
	}

	.intro {
		@apply rounded-xl px-6 relative xl:pt-36 xl:pb-36 md:pt-24 md:pb-24 pt-16 pb-16 bg-harvestgold bg-opacity-20 -z-10 text-center;

		.container {
			@apply rounded-xl p-12 relative max-w-[1200px];
			box-shadow:
				0px 2px 9px rgba(0, 0, 0, 0.6),
				0 0 45px #9b7025ae inset;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: url("/img/parchemin.jpg") no-repeat center center;
				background-size: cover;
				opacity: 0.5;
				z-index: -1;
			}
			.inner {
				@apply flex flex-col;
				h2 {
					@apply text-xl md:text-xxxl mb-6;
				}
				h3 {
					@apply md:text-xxl text-xl mb-6;
				}
				.h4 {
					@apply text-blackbean font-bold font-lemon md:text-xl text-md block mb-2;
				}
				p {
					@apply text-xl mb-4;
				}
				p.warn {
					@apply text-black md:text-lg text-base font-bold font-lemon max-w-xl mx-auto mt-6;
				}
				.contactmed {
					@apply md:flex md:flex-row flex-col gap-12 md:mt-6 mt-0 mx-auto text-xl font-lemon text-blackbean;
					.leftc,
					.rightc {
						@apply flex gap-2 items-center md:my-2 my-6;
						svg {
							@apply mr-1;
						}
					}
				}
			}
		}
	}

	.pricing {
		@apply text-center py-20 px-6;
		background: url("/img/map-bck.jpg") no-repeat center center;
		background-size: cover;
		h2 {
			@apply md:text-jumbo md:mb-10 text-xxl mb-6;
		}

		.biglabel {
			@apply font-lemon text-black text-left mx-auto inline-block md:mt-12 md:pt-8 md:pr-8 md:pb-8 md:pl-8 md:w-[715px] md:h-[187px] w-full h-auto mt-12 pt-6 pr-2 pb-6 pl-2 md:bg-cover bg-cover md:rounded-none rounded-xl;
			background: url("/img/acces-total.png") no-repeat center center;
			
			.label {
				@apply flex gap-4 justify-center items-center;
				.left {
					@apply flex flex-col text-left ;
				}
				.right {
					@apply flex flex-col justify-center md:text-[50px] text-[30px];
				}
			}
			.big {
				@apply md:text-[32px] text-[18px] block;
			}
			.small {
				@apply md:text-base text-sm block font-sourcesans font-bold;
			}
		}
		.pricing-container {
			@apply mx-auto max-w-[1440px] lg:flex block gap-6;
			.pricing-box {
				@apply relative lg:w-1/2 w-full py-10 sm:px-12 px-6 text-left text-[#F7EBC8] rounded-3xl;
				background: url("/img/pricing-wood.jpg") no-repeat center center;
				background-size: cover;
				h3 {
					@apply md:text-xxxxl sm:text-xxxl text-xxl mb-6 text-white mt-6;
				}
				&.box1 {
					@apply lg:mb-0 mb-12;
					img.top-left {
						@apply absolute -top-6 -left-12;
					}
					img.bottom-left {
						@apply absolute -bottom-12 -left-6;
					}
					img.top-right {
						@apply absolute -top-2 -right-5;
					}
					img.bottom-right {
						@apply absolute -bottom-6 -right-6;
					}
				}
				&.box2 {
					
					img.top-left {
						@apply absolute -top-1 -left-2;
					}

					img.top-right {
						@apply absolute -top-1 -right-1;
					}
					img.bottom-right {
						@apply absolute -bottom-8 -right-8;
					}
				}
			}
			.subtitle {
				@apply text-black block mt-8 mb-4 font-sourcesans bg-gradient-to-r from-[#FFC37C] to-[#FF912C] pt-1 pr-7 pb-2 pl-7 font-extrabold sm:text-lg text-md rounded-full;
			}
		}
	}
	.booking {
		@apply relative py-20;
		/*background: url("/img/resa-bck.jpg") no-repeat center center;
		background-size: cover;*/

		.parcours-board {
			@apply absolute top-0 left-[50%] z-10 text-center w-full -translate-x-1/2 md:h-[250px] h-[190px];
			background: url("/img/parcours-board.png") no-repeat center center;
			background-size:contain;
			h2 {
				@apply font-lemon text-white text-center md:mt-[120px]  mt-[90px] md:text-xxxxl text-xxl;
			}
		}

		.form-container {
			@apply text-center relative z-10 container max-w-xl mx-auto mt-48 flex flex-col justify-center pt-[125px] pr-20 pb-[160px] pl-20 h-auto;
			background:url("/img/vert-scroll.webp") no-repeat top center;
			background-size:cover;
			h2 {
				@apply md:text-xxl text-xl mb-2;
			}
			p {
				@apply text-xl mb-6 text-blackbean;
			}
			/*.vertscroll {
				@apply absolute top-0 left-0 w-full h-full -z-10 object-contain;
			}*/
		}
	}
</style>
