---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import * as animations from "../components/animations.js";
import Footer from "../components/Footer.astro";
---

<Layout title="Mentions légales - Accrofury" description="Retrouvez nos mentions légales sur cette page.">
	<Header />
	

	<main>
        <h1>Mentions légales</h1>
<h2>1. Présentation du site.</h2>
<p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004, voici l’identité des différents intervenants dans la création du site accrofury.com :</p>
<p>Numéro de SIREN du siège social : 404 954 349<br>Créateur : GDM-Pixel<br>Le responsable publication est une personne morale.<br>Hébergeur : Netlify, 512 2nd Street, Suite 200 San Francisco, CA 94107</p>
<h2>2. Conditions générales d’utilisation du site et des services proposés.</h2>
<p>L’utilisation du site implique l’acceptation de la <a href="/politique-confidentialite/">politique de confidentialité</a> et des <a href="/cgu-cgv/">conditions générales d’utilisation</a>.</p>
<h2>3. Description des services fournis.</h2>
<p>Le site accrofury.com a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>
<p>La société s’efforce de fournir sur le site accrofury.com des informations aussi précises que possible.</p>
<p>Tous les informations indiquées sur le site accrofury.com sont données à titre indicatif, et sont susceptibles d’évoluer.</p>
<h2>4. Limitations contractuelles sur les données techniques.</h2>
<p>Le site utilise la technologie JavaScript, HTML / CSS, Php Mysql et Action Script.</p>
<p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.</p>
<h2>5. Propriété intellectuelle et contrefaçons.</h2>
<p>La société gestionnaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons.</p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de la société.</p>
<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
<h2>6. Limitations de responsabilité</h2>
<p>La société ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site accrofury.com, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
<p>La société ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site accrofury.com.</p>
<h2>7. Gestion des données personnelles.</h2>
<p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
<p>Le traitement des données utilisateurs est donné en détail sur la page de notre politique de confidentialité.</p>
<h2>8. Liens hypertextes et cookies.</h2>
<p>Le site accrofury.com contient un certain nombre de liens hypertextes pointants vers d’autres sites. Cependant, la société n’a pas la possibilité de vérifier tous les contenus des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
<p>Les services de partage sur les réseaux sociaux utilisent des cookies, implémantés par les services des réseaux sociaux concernés. L’utilisation de ces services, accessibles via ce site, émanent de la responsabilité des éditeurs des réseaux sociaux sur lesquels l’internaute s’inscrit.</p>
<p>Pour désactiver les cookies sur votre ordinateur, vous pouvez suivre les indications disponibles <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur">ici</a>.</p>
<h2>9. Droit applicable et attribution de juridiction.</h2>
<p>Tout litige en relation avec l’utilisation du site accrofury.com ou de ses services liés est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Caen.</p>
<p>En cas de litige avec la société, le médiateur à la consommation est <strong>MTV TRAVEL</strong>.</p>
<p>Le client peut saisir le médiateur <a href="https://www.mtv.travel/demande-saisine/">sur son site internet, en cliquant ici</a>.</p>
<p>Toutefois, la saisine n’est recevable que si une négociation à l’amiable n’a pu aboutir. En cas de désaccord avec un de nos salariés ou représentants, nous vous remercions de bien vouloir nous contacter afin de nous présenter vos doléances. Notre équipe fera tout son possible pour traiter celle-ci dans les meilleurs délais.</p>
<p>Pour en savoir plus sur la procédure de saisine, vous pouvez vous rendre directement sur la <a href="https://www.mtv.travel/saisir-le-mediateur/">page consacrée à cette procédure</a>.</p>
<p>Pour tout renseignement complémentaire, vous pouvez également contacter le médiateur, aux coordonnées suivantes : <br><em>MTV – Médiation Tourisme Voyage</em><br><em>BP 80 303</em><br><em>75 823 Paris Cedex 17</em></p>
<h2>10. Modèle présentés et montages photos</h2>
<p>Toutes les photos, illustrations et design graphiques qui composent le site sont la propriété intellectuelle exclusive du gestionnaire du site.</p>
<p>Les usagers du site s’engagent à ne pas modifier, éditer, télécharger ou utiliser de quelques manière que ce soit les éléments graphiques présents sur le site.</p>
<h2>11. Les principales lois concernées.</h2>
<p>Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés.</p>
<p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.</p>

	</main>
	<Footer />
</Layout>

<style lang="scss">
	
	main{
		@apply m-auto px-4 py-12 max-w-4xl;
		h2 {
			@apply text-xxl mb-3 mt-6 text-blackbean;
		}
		h3 {
			@apply text-xl mb-3 mt-6 text-blackbean;
		}
		p {
			@apply text-lg mb-3;
		}
		ul,ol {
			@apply list-disc list-inside mb-3 pl-6 text-lg;
			li {
				@apply mb-2;
			}
		}
	}
</style>
