---

---

<section class="ctaband">
	<div
		class="xl:container px-6 mx:px-8 text-white block md:flex justify-between pt-12 pb-12 items-center">
		<div class="col1">
			<h2
				class="text-blackbean text-xl lg:text-xxxl md:text-xl mb-2 md:mb-2 flex gap-3">
				<span>Tenter l’aventure</span>
				<svg
					width="50"
					height="50"
					viewBox="0 0 50 50"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M25 5.46875C25 4.84715 25.2469 4.25101 25.6865 3.81147C26.126 3.37193 26.7222 3.125 27.3438 3.125C27.9654 3.125 28.5615 3.37193 29.001 3.81147C29.4406 4.25101 29.6875 4.84715 29.6875 5.46875C29.6875 6.09035 29.4406 6.68649 29.001 7.12603C28.5615 7.56557 27.9654 7.8125 27.3438 7.8125C26.7222 7.8125 26.126 7.56557 25.6865 7.12603C25.2469 6.68649 25 6.09035 25 5.46875ZM32.8125 5.46875C32.8125 4.01835 32.2363 2.62735 31.2107 1.60176C30.1852 0.57617 28.7942 0 27.3438 0C25.8933 0 24.5024 0.57617 23.4768 1.60176C22.4512 2.62735 21.875 4.01835 21.875 5.46875C21.875 6.91915 22.4512 8.31015 23.4768 9.33574C24.5024 10.3613 25.8933 10.9375 27.3438 10.9375C28.7942 10.9375 30.1852 10.3613 31.2107 9.33574C32.2363 8.31015 32.8125 6.91915 32.8125 5.46875ZM17.5195 11.3672C16.2793 11.0547 14.9707 11.0547 13.7305 11.3672L13.584 11.4063C12.3828 11.709 11.2695 12.2852 10.332 13.1055L5.22461 17.5781C4.57031 18.1445 4.51172 19.1309 5.07813 19.7852C5.64453 20.4395 6.63086 20.498 7.28516 19.9316L12.4023 15.459C12.959 14.9707 13.6328 14.6191 14.3555 14.4434L14.502 14.4043C15.2441 14.2188 16.0254 14.2188 16.7773 14.4043L18.4277 14.8145L14.9609 25.1855C14.248 27.3145 15.1563 29.6484 17.1094 30.752L26.2207 35.8789L21.9629 47.9199C21.6797 48.7305 22.0996 49.6289 22.9199 49.9121C23.7402 50.1953 24.6289 49.7754 24.9121 48.9551L29.1602 36.9141C29.668 35.4785 29.0723 33.8965 27.7441 33.1543L24.082 31.0938C24.1016 31.0547 24.1211 31.0059 24.1309 30.9668L27.7637 20.0684L29.1016 24.7266C29.6777 26.7383 31.5137 28.125 33.6133 28.125H39.0625C39.9219 28.125 40.625 27.4219 40.625 26.5625C40.625 25.7031 39.9219 25 39.0625 25H33.6035C32.9102 25 32.2949 24.541 32.0996 23.8672L30.1172 16.9336C29.6582 15.3223 28.3691 14.082 26.748 13.6719L17.5195 11.3672ZM25.625 16.6113L21.3184 29.5313L18.6426 28.0273C17.9883 27.6563 17.6855 26.8848 17.9297 26.1719L21.4648 15.5664L25.6348 16.6113H25.625ZM12.6953 30.6738L9.89258 37.5H1.5625C0.703125 37.5 0 38.2031 0 39.0625C0 39.9219 0.703125 40.625 1.5625 40.625H9.89258C11.1621 40.625 12.3047 39.8633 12.7832 38.6914L15.0586 33.1641C14.082 32.5098 13.2813 31.6504 12.7051 30.6836L12.6953 30.6738ZM44.7754 43.3789C43.5156 46.875 42.3438 46.875 42.1875 46.875C42.0313 46.875 40.8594 46.875 39.6094 43.3789C38.6914 40.8106 37.9688 36.8945 37.666 31.25H34.541C35.2539 44.9902 38.418 50 42.1973 50C46.5137 50 50.0098 43.4961 50.0098 25C50.0098 6.50391 46.5039 0 42.1875 0C38.125 0 34.7852 5.76172 34.4141 21.875H37.5391C37.7148 14.5215 38.5254 9.63867 39.6094 6.62109C40.8594 3.125 42.0313 3.125 42.1875 3.125C42.3438 3.125 43.5156 3.125 44.7656 6.62109C46.0059 10.0488 46.875 15.8691 46.875 25C46.875 34.1309 46.0059 39.9512 44.7754 43.3789Z"
						fill="#3C1518"></path>
				</svg>
			</h2>
			<p class="mb-6 md:mb-0 text-blackbean max-w-md text-lg">
				Réservez votre parcours, créez des souvenirs extraordinaires et profitez
				de la nature.
			</p>
		</div>
		<a class="cta wood small md:mt-4 mt-12 relative z-10" href="/accrobranches-caen-horaires-tarifs/">Réserver</a>
	</div>
	<img src="/img/archer1.webp" alt="archer" class="archer1"/>
	<img src="/img/archer2.webp" alt="archer" class="archer2"/>
</section>
<style lang="scss">
	.ctaband {
		@apply bg-harvestgold bg-opacity-10 py-16 relative overflow-clip;
		h2 {
			@apply text-xl md:text-xxl lg:text-xxxl;
		} 
		.archer1 {@apply absolute -left-[184px] top-0  pointer-events-none;}
		.archer2 {@apply absolute -right-[185px] top-0  pointer-events-none z-0;}
	}
</style>