---

---

<section class="ctaband">
	<div
		class="xl:container px-6 mx:px-8 text-white block md:flex justify-between pt-12 pb-12 items-center">
		<div class="col1">
			<h2
				class="text-blackbean text-xl lg:text-xxxl md:text-xl mb-2 md:mb-2 flex gap-3">
				<span>Besoin de plus d’infos ?</span>
				<svg width="55" height="44" viewBox="0 0 55 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.1875 4.12466C5.04453 4.12466 4.125 5.04412 4.125 6.18699V21.3107C4.125 22.4536 5.04453 23.3731 6.1875 23.3731H10.3125C11.4555 23.3731 12.375 24.2925 12.375 25.4354V27.0853L17.4195 23.7168C17.7547 23.4934 18.1586 23.3731 18.5625 23.3731H29.5625C30.7055 23.3731 31.625 22.4536 31.625 21.3107V6.18699C31.625 5.04412 30.7055 4.12466 29.5625 4.12466H6.1875ZM0 6.18699C0 2.76696 2.76719 0 6.1875 0H29.5625C32.9828 0 35.75 2.76696 35.75 6.18699V21.3107C35.75 24.7308 32.9828 27.4977 29.5625 27.4977H19.1898L11.4555 32.6536C10.8195 33.0746 10.0117 33.1176 9.34141 32.7567C8.67109 32.3958 8.25 31.6997 8.25 30.9349V27.4977H6.1875C2.76719 27.4977 0 24.7308 0 21.3107V6.18699ZM22 30.2475H26.125V32.3098C26.125 33.4527 27.0445 34.3722 28.1875 34.3722H36.4375C36.8414 34.3722 37.2453 34.4925 37.5805 34.7159L42.625 38.0844V36.4345C42.625 35.2916 43.5445 34.3722 44.6875 34.3722H48.8125C49.9555 34.3722 50.875 33.4527 50.875 32.3098V17.1861C50.875 16.0432 49.9555 15.1238 48.8125 15.1238H38.5V10.9991H48.8125C52.2328 10.9991 55 13.7661 55 17.1861V32.3098C55 35.7299 52.2328 38.4968 48.8125 38.4968H46.75V41.934C46.75 42.6988 46.3289 43.3949 45.6586 43.7558C44.9883 44.1167 44.1719 44.0737 43.5445 43.6526L35.8102 38.4968H28.1875C24.7672 38.4968 22 35.7299 22 32.3098V30.2475ZM12.7102 8.25791C13.1828 6.93458 14.4375 6.0495 15.8383 6.0495H19.3875C21.4672 6.0495 23.143 7.73374 23.143 9.80466C23.143 11.1538 22.4211 12.3912 21.2523 13.0614L19.25 14.2129V14.2387C19.25 14.9949 18.6313 15.6136 17.875 15.6136C17.1187 15.6136 16.5 14.9949 16.5 14.2387V13.4223C16.5 12.9325 16.7664 12.4771 17.1875 12.2279L19.8859 10.6812C20.1953 10.5007 20.393 10.1656 20.393 9.80466C20.393 9.24611 19.9375 8.79927 19.3875 8.79927H15.8383C15.5977 8.79927 15.3828 8.95395 15.2969 9.17737L15.2711 9.25471C15.0133 9.96793 14.2312 10.346 13.518 10.0882C12.8047 9.83044 12.4266 9.04847 12.6844 8.33525L12.7102 8.25791ZM15.9242 19.5921C15.9065 19.3257 15.9437 19.0584 16.0335 18.8069C16.1233 18.5554 16.2638 18.325 16.4463 18.13C16.6288 17.935 16.8493 17.7795 17.0944 17.6732C17.3394 17.567 17.6036 17.5121 17.8707 17.5121C18.1378 17.5121 18.402 17.567 18.647 17.6732C18.8921 17.7795 19.1126 17.935 19.2951 18.13C19.4776 18.325 19.6181 18.5554 19.7079 18.8069C19.7977 19.0584 19.8349 19.3257 19.8172 19.5921C19.8349 19.8586 19.7977 20.1259 19.7079 20.3774C19.6181 20.6289 19.4776 20.8593 19.2951 21.0543C19.1126 21.2493 18.8921 21.4048 18.647 21.511C18.402 21.6173 18.1378 21.6722 17.8707 21.6722C17.6036 21.6722 17.3394 21.6173 17.0944 21.511C16.8493 21.4048 16.6288 21.2493 16.4463 21.0543C16.2638 20.8593 16.1233 20.6289 16.0335 20.3774C15.9437 20.1259 15.9065 19.8586 15.9242 19.5921Z" fill="#3C1518"/>
</svg>

			</h2>
			<p class="mb-6 md:mb-0 text-blackbean max-w-md text-lg">
				Vous avez des questions ? Un doute ? Une apréhension ? Notre équipe est à votre disposition !
			</p>
		</div>
		<a class="cta wood small md:mt-4 mt-12 relative z-10" href="/parc-aventure-nous-contacter-et-reserver/">Contact</a>
	</div>
	<img src="/img/archer1.webp" alt="archer" class="archer1"/>
	<img src="/img/archer2.webp" alt="archer" class="archer2"/>
</section>
<style lang="scss">
	.ctaband {
		@apply bg-harvestgold bg-opacity-10 py-16 relative overflow-clip;
		h2 {
			@apply text-xl md:text-xxl lg:text-xxxl;
		} 
		.archer1 {@apply absolute -left-[184px] top-0  pointer-events-none;}
		.archer2 {@apply absolute -right-[185px] top-0  pointer-events-none z-0;}
	}
</style>