---
import { Image } from "astro:assets";
import AccrofuryLogo from "../assets/img/accrofury-logo.png";
---

<footer class="footer" transition:persist>
	<div class="mainfooter">
		<div class="id-contact">
			<a href="/"
				><Image
					class="logo -ml-6"
					src={AccrofuryLogo}
					alt="logo Accrofury"
					loading="lazy"
				/></a
			>
			<div class="icon-info -mt-4">
				<p>
					Chemin de la Mine<br />
					 14320 Feugerolles-Bully
				</p>
			</div>
			<div class="icon-info">
				<svg
					fill="#fff"
					xmlns="http://www.w3.org/2000/svg"
					height="16"
					width="16"
					viewBox="0 0 512 512"
					><path
						d="M375.8 275.2c-16.4-7-35.4-2.4-46.7 11.4l-33.2 40.6c-46-26.7-84.4-65.1-111.1-111.1L225.3 183c13.8-11.3 18.5-30.3 11.4-46.7l-48-112C181.2 6.7 162.3-3.1 143.6 .9l-112 24C13.2 28.8 0 45.1 0 64v0C0 300.7 183.5 494.5 416 510.9c4.5 .3 9.1 .6 13.7 .8c0 0 0 0 0 0c0 0 0 0 .1 0c6.1 .2 12.1 .4 18.3 .4l0 0c18.9 0 35.2-13.2 39.1-31.6l24-112c4-18.7-5.8-37.6-23.4-45.1l-112-48zM447.7 480C218.1 479.8 32 293.7 32 64v0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0c0-3.8 2.6-7 6.3-7.8l112-24c3.7-.8 7.5 1.2 9 4.7l48 112c1.4 3.3 .5 7.1-2.3 9.3l-40.6 33.2c-12.1 9.9-15.3 27.2-7.4 40.8c29.5 50.9 71.9 93.3 122.7 122.7c13.6 7.9 30.9 4.7 40.8-7.4l33.2-40.6c2.3-2.8 6.1-3.7 9.3-2.3l112 48c3.5 1.5 5.5 5.3 4.7 9l-24 112c-.8 3.7-4.1 6.3-7.8 6.3c-.1 0-.2 0-.3 0z"
					></path></svg
				>
				<p>02 31 74 19 09</p>
			</div>
			<div class="icon-info">
				<svg
					fill="#fff"
					xmlns="http://www.w3.org/2000/svg"
					height="16"
					width="12"
					viewBox="0 0 384 512"
					><path
						d="M256 32V48c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V32H96C78.3 32 64 46.3 64 64V448c0 17.7 14.3 32 32 32H288c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H256zm-32 0H160V48h64V32zM32 64C32 28.7 60.7 0 96 0H288c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V64z"
					></path></svg
				>
				<p>06 23 27 50 90</p>
			</div>
			<div class="icon-info">
				<svg
					fill="#fff"
					xmlns="http://www.w3.org/2000/svg"
					height="16"
					width="16"
					viewBox="0 0 512 512"
					><path
						d="M64 96c-17.7 0-32 14.3-32 32v39.9L227.6 311.3c16.9 12.4 39.9 12.4 56.8 0L480 167.9V128c0-17.7-14.3-32-32-32H64zM32 207.6V384c0 17.7 14.3 32 32 32H448c17.7 0 32-14.3 32-32V207.6L303.3 337.1c-28.2 20.6-66.5 20.6-94.6 0L32 207.6zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
					></path></svg
				>
				<p>contact@accrofury.com</p>
			</div>
		</div>
		<div class="navigation1">
			<div class="row mb-10">
				
				<h4>Ouverture</h4>
				<p>7j/7 durant les vacances</p>
				<p>Mercredi & WE hors vacances</p>
			</div>
			<div class="row">
				<h4>Plan d’accès</h4>
				<p><a href="#">Cliquez ici</a></p>
			</div>
		</div>
		<div class="navigation2">
			<div class="row">
				<h4>Pages</h4>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/">Les Trot’Fury</a></li>
					<li><a href="/">Horaires et Tarifs</a></li>
					<li><a href="/">Contact et accès</a></li>
				</ul>
			</div>
		</div>
		<div class="social">
			<h4>Nous suivre</h4>
			<ul class="social-list">
				<li>
					<a href="/">
						<svg
							width="10"
							height="19"
							viewBox="0 0 10 19"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M9.37638 0.00377079L7.03941 0C4.4139 0 2.71719 1.75059 2.71719 4.46009V6.5165H0.367466C0.164422 6.5165 0 6.68203 0 6.88622V9.86572C0 10.0699 0.16461 10.2353 0.367466 10.2353H2.71719V17.7535C2.71719 17.9577 2.88161 18.123 3.08465 18.123H6.15037C6.35341 18.123 6.51783 17.9575 6.51783 17.7535V10.2353H9.2652C9.46825 10.2353 9.63267 10.0699 9.63267 9.86572L9.63379 6.88622C9.63379 6.78818 9.59498 6.69429 9.52618 6.62491C9.45737 6.55552 9.36363 6.5165 9.26614 6.5165H6.51783V4.77326C6.51783 3.93539 6.71638 3.51004 7.80171 3.51004L9.376 3.50948C9.57886 3.50948 9.74328 3.34394 9.74328 3.13994V0.373309C9.74328 0.169497 9.57905 0.00414787 9.37638 0.00377079Z"
								fill="white"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="/">
						<svg
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M14.4806 0C17.5241 0 20.0001 2.47601 20 5.51928V14.4807C20 17.524 17.5241 20 14.4806 20H5.51916C2.4759 20 0 17.5241 0 14.4807V5.51928C0 2.47601 2.4759 0 5.51916 0H14.4806ZM18.2256 14.4807H18.2255V5.51928C18.2255 3.45447 16.5455 1.7745 14.4806 1.7745H5.51916C3.45435 1.7745 1.7745 3.45447 1.7745 5.51928V14.4807C1.7745 16.5456 3.45435 18.2256 5.51916 18.2255H14.4807C16.5456 18.2255 18.2256 16.5456 18.2256 14.4807ZM10 5C12.757 5 15 7.24301 15 10.0001C15 12.7571 12.757 15 10 15C7.24296 15 5 12.7571 5 10.0001C5 7.24301 7.24296 5 10 5ZM10 13.2782C11.8076 13.2782 13.2784 11.8077 13.2784 10C13.2784 8.19223 11.8077 6.72157 10 6.72157C8.19227 6.72157 6.72164 8.19223 6.72164 10C6.72164 11.8077 8.19239 13.2782 10 13.2782ZM15.4167 3.33333C15.7462 3.33333 16.0689 3.46629 16.3008 3.69924C16.5337 3.93106 16.6667 4.25379 16.6667 4.58333C16.6667 4.91174 16.5337 5.23447 16.3008 5.46742C16.0678 5.69924 15.7462 5.83333 15.4167 5.83333C15.0883 5.83333 14.7655 5.69924 14.5337 5.46742C14.3008 5.23447 14.1667 4.91186 14.1667 4.58333C14.1667 4.25379 14.3006 3.93106 14.5337 3.69924C14.7656 3.46629 15.0883 3.33333 15.4167 3.33333Z"
								fill="white"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="/">
						<svg
							width="20"
							height="17"
							viewBox="0 0 20 17"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M19.7609 1.90713C19.0336 2.23076 18.2532 2.45025 17.4332 2.54824C18.2705 2.04477 18.9113 1.24622 19.2151 0.297595C18.4297 0.763832 17.5629 1.10238 16.6392 1.2859C15.8996 0.493538 14.8475 0 13.6806 0C11.4418 0 9.62664 1.82283 9.62664 4.06974C9.62664 4.38841 9.66245 4.69966 9.73161 4.99728C6.36302 4.82738 3.37599 3.20669 1.37681 0.743988C1.02734 1.34417 0.828538 2.04351 0.828538 2.79003C0.828538 4.20242 1.54474 5.44864 2.6314 6.17774C1.96705 6.15543 1.34223 5.97191 0.795216 5.66686V5.7177C0.795216 7.68932 2.19304 9.33482 4.0465 9.70932C3.70692 9.80109 3.34883 9.85193 2.97838 9.85193C2.71661 9.85193 2.46346 9.82589 2.21526 9.77628C2.7314 11.3945 4.22803 12.5713 6.00125 12.6035C4.61453 13.6948 2.86601 14.3433 0.966865 14.3433C0.639647 14.3433 0.317337 14.3234 0 14.2875C1.79421 15.4444 3.92429 16.119 6.21365 16.119C13.6708 16.119 17.7469 9.91642 17.7469 4.53724L17.7333 4.01024C18.5298 3.43979 19.2188 2.72307 19.7609 1.90713Z"
								fill="white"></path>
						</svg>
					</a>
				</li>
				<li>
					<a href="/">
						<svg
							width="20"
							height="14"
							viewBox="0 0 20 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M14.4481 0C16.9637 0 18.2809 0.348194 18.9943 1.2018C19.7111 2.05919 19.7647 3.37246 19.7647 5.27803V8.72204C19.7647 10.9057 19.4225 12.1669 18.6205 12.9394C17.8385 13.6927 16.6296 14 14.4481 14H5.31645C0.822212 14 0 12.2226 0 8.72204V5.27803C0 3.47109 0 2.16553 0.692976 1.27945C1.40374 0.370654 2.74328 0 5.31645 0H14.4481ZM8.54237 9.65676L12.689 7.47551C12.8997 7.36475 13.0316 7.14522 13.0313 6.90586C13.031 6.66669 12.8985 6.44748 12.6875 6.33724L8.5409 4.17004C8.34332 4.06673 8.10646 4.07469 7.91602 4.19109C7.72564 4.3075 7.60948 4.51541 7.60948 4.7395V9.08801C7.60948 9.31248 7.72596 9.52059 7.91672 9.63693C8.01803 9.69866 8.13241 9.72972 8.24705 9.72972C8.34829 9.72972 8.44967 9.70553 8.54237 9.65676Z"
								fill="white"></path>
						</svg>
					</a>
				</li>
			</ul>
			<img src="/img/qualitourisme.png" width="163" height="50" loading="lazy"/>
		</div>
		
	</div>
	<div class="bottomfooter">
		<div class="gdmcontainer">
			<div class="col1">Copyright @ GDM-Pixel, tous droits réservés</div>
			<div class="col2">
				<ul>
					<li><a href="/mentions-legales/">Mentions légales</a></li>
					<li><a href="/rgpd/">Politique de confidentialité</a></li>
					<li><a href="/cgu-cgv/">CGU / CGV</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<style lang="scss">
	.footer {
		@apply bg-blackbean text-white;
	}
	.mainfooter {
		@apply lg:max-w-7xl mx-auto xs:px-6 lg:px-6 xl:px-6 justify-between items-center md:grid md:grid-cols-12 flex flex-col gap-6 pt-16 pb-12;
		.id-contact {@apply lg:col-span-4 col-span-6;}
		.navigation1 {@apply lg:col-span-3 col-span-6;}
		.navigation2 {@apply lg:col-span-2 col-span-6;}
		.social {@apply lg:col-span-3 col-span-6;}
		.id-contact {
			@apply md:text-left text-center;
			img {
				@apply max-w-[200px] lg:max-w-[230px] mb-4 mx-auto md:mx-0;
			}
			.icon-info {
				@apply text-lg flex items-center mb-3 justify-center md:justify-start;
				&:nth-of-type(1) {
					@apply flex items-start;
					svg {
						@apply mt-1;
					}
				}
				svg {
					@apply mr-2;
				}
			}
			
		}
		

		.navigation1,.navigation2 {
			@apply text-white flex-col justify-center;
			h4 {
				@apply mb-4 text-harvestgold text-lg text-center md:text-left;
			}
			p {
				@apply text-lg mb-4 text-center md:text-left;
			}
			ul li {
				@apply mb-2 text-center md:text-left;
				a {
					@apply text-white text-lg hover:text-airblue;
				}
			}
		}
		.social {
			@apply text-white text-center md:text-left lg:text-right flex flex-col justify-center lg:items-end;
			h4 {
				@apply mb-4 text-harvestgold text-lg text-center md:text-left lg:text-right;
			}
			ul {
				@apply flex md:justify-start lg:justify-end justify-center mb-6;
				li {
					@apply mr-4;
					a {
						svg {
							@apply fill-white transition-all duration-300;
						}
						&:hover svg {
							@apply fill-airblue transition-all duration-300;
						}
					}
					&:last-child {
						@apply mr-0;
					}
				}
			}
		}
	}
	.bottomfooter {
		@apply bg-[#250D0F] border-t border-[#DCB77F];
		.gdmcontainer {
			@apply max-w-7xl mx-auto grid md:grid-cols-2 grid-cols-1 justify-between items-center px-6;
			.col1,
			.col2 {
				@apply text-[#DCB77F] text-sm  py-4 text-center md:text-left;
				a {
					@apply text-[#DCB77F] text-sm  hover:text-white;
				}
			}
			.col2 {
				ul {
					@apply flex md:justify-end flex-col md:flex-row justify-center md:items-start items-center;
					li {
						@apply mr-4 border-none md:border-r md:border-white md:border-opacity-40 md:pr-4;
						&:last-of-type {
							@apply mr-0 pr-0 border-0;
						}
					}
				}
			}
		}
	}
	
	
	
	
	
</style>
