---
import { Image } from "astro:assets";
interface Props {}
import AccrofuryLogo from "../assets/img/accrofury-logo.png";
---

<header class="header" transition:persist>
	<div class="container">
		<a href="/" data-image-src="/img/demo-home.webp"
			><Image class="logo" src={AccrofuryLogo} alt="logo GDM-Pixel" /></a
		>
		<nav class="desktop-nav">
			<ul>
				<li>
					<a href="/" data-image-src="/img/demo-home.webp"
						><svg
							width="27"
							height="24"
							viewBox="0 0 27 24"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M17.5969 0.262491C18.075 0.660929 18.1359 1.36874 17.7375 1.84687L14.9672 5.16093L26.0156 18.3797C26.4094 18.8531 26.625 19.4484 26.625 20.0625V21.375C26.625 22.8234 25.4484 24 24 24H13.5H3C1.55156 24 0.375 22.8234 0.375 21.375V20.0625C0.375 19.4484 0.590625 18.8531 0.984375 18.3797L12.0328 5.16093L9.2625 1.84687C8.86406 1.36874 8.92969 0.660929 9.40312 0.262491C9.87656 -0.135946 10.5891 -0.070321 10.9875 0.403117L13.5 3.4078L16.0125 0.403117C16.4109 -0.0750085 17.1187 -0.135946 17.5969 0.262491ZM2.71406 19.8187C2.65781 19.8844 2.625 19.9734 2.625 20.0578V21.3703C2.625 21.5766 2.79375 21.7453 3 21.7453H5.90625L12.6141 13.1812C12.825 12.9094 13.1531 12.75 13.5 12.75C13.8469 12.75 14.175 12.9094 14.3859 13.1812L21.0937 21.75H24C24.2062 21.75 24.375 21.5812 24.375 21.375V20.0625C24.375 19.9734 24.3422 19.8891 24.2859 19.8234L13.5 6.91405L2.71406 19.8187ZM8.76562 21.75H13.5H18.2344L13.5 15.6984L8.76562 21.75Z"
							></path>
						</svg></a
					>
				</li>
				<li>
					<a href="/accrobranches-caen-horaires-tarifs/" data-image-src="/img/heroresa.jpg"
						>Horaires et tarifs</a
					>
				</li>
				<li>
					<a
						href="/trotfury-location-trotinette/"
						data-image-src="/img/trotfury-hero.jpg">Les Trot’Furys</a
					>
				</li>
				<li>
					<a href="/parc-aventure-nous-contacter-et-reserver/" data-image-src="/img/herocontact.jpg"
						>Accès et contact</a
					>
				</li>
			</ul>
		</nav>

		<button
			id="hambBtn"
			class="transition-transform duration-300 ease-in-out block lg:hidden"
			data-visible="false">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="1em"
				viewBox="0 0 448 512"
				fill="#3C1518"
				><path d="M0 64H448v64H0V64zM0 224H448v64H0V224zM448 384v64H0V384H448z"
				></path></svg
			>
		</button>
	</div>
	<img class="liane-gauche" src="/img/lierre-gauche.png" alt="Liane gauche" />
	<img class="liane-centre" src="/img/liane-centre.png" alt="Liane centre" />
	<img class="liane-droite" src="/img/liane-droite.png" alt="Liane droite" />
</header>
<div class="mobile-menu-overlay"></div>
<div id="mobile-nav" class="gdm-nav gdm-nav-1">
	<div class="gdm-nav gdm-nav-2">
		<div class="gdm-nav gdm-nav-3">
			<button class="gdm-nav-btn gdm-close-btn"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					height="1em"
					viewBox="0 0 512 512"
					><path
						d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm97.9-320L320 158.1l-17 17-47 47-47-47-17-17L158.1 192l17 17 47 47-47 47-17 17L192 353.9l17-17 47-47 47 47 17 17L353.9 320l-17-17-47-47 47-47 17-17z"
					></path></svg
				></button
			>
			<div class="flex flex-col justify-center items-center">
				<a href="/" data-image-src="/img/demo-home.webp"
			><Image class="logo" src={AccrofuryLogo} alt="logo Accrofury" /></a
		>
				<span class="h3 text-lg text-white font-bold mb-8 mt-6">Menu</span
				>
				<ul
					class="gdm-list flex flex-col justify-center alig-center text-center">
					<li>
						<a href="/" data-image-src="/img/demo-home.webp"
							><svg
								class="mx-auto home-btn"
								width="23"
								height="21"
								viewBox="0 0 23 21"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M20.4609 11.75L20.5 20.5H14.25V14.25H9.25V20.5H3V11.75H0.5V9.875L11.75 0.5L23 9.875V11.75H20.4609Z"
								></path>
							</svg> 
						</a>
					</li>
					<li><a data-image-src="/img/heroresa.jpg" href="/accrobranches-caen-horaires-tarifs/">Horaires et tarifs</a></li>
					<li><a  data-image-src="/img/trotfury-hero.jpg" href="/trotfury-location-trotinette/">Les Trot'Furys</a></li>
					<li><a  data-image-src="/img/herocontact.jpg" href="/parc-aventure-nous-contacter-et-reserver/">Accès et contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	function navsetup() {
		window.addEventListener("scroll", function () {
			var header = document.querySelector(".header");
			header?.classList.toggle("stickynav", window.scrollY > 200);
		});
		const navLinks = document.querySelectorAll("nav ul li a");

		navLinks.forEach((link) => {
			if (link.getAttribute("href") === window.location.pathname) {
				link.classList.add("active");
			}

			link.addEventListener("click", () => {
				navLinks.forEach((link) => link.classList.remove("active"));
				link.classList.add("active");
			});
		});

		const menuButton = document.querySelector("#hambBtn");
		const closeButton = document.querySelector(".gdm-close-btn");
		const closeOverlay = document.querySelector(".mobile-menu-overlay");
		// Écouteur pour les clics en dehors du menu

		//@ts-ignore
		menuButton.addEventListener("click", toggleMenu);
		//@ts-ignore
		closeButton.addEventListener("click", toggleMenu);
		//@ts-ignore
		closeOverlay.addEventListener("click", toggleMenu);
		// Récupérer tous les liens de la navigation mobile
		const mobileNavLinks = document.querySelectorAll("#mobile-nav a");
		// Ajouter un écouteur d'événements pour chaque lien
		mobileNavLinks.forEach((link) => {
			link.addEventListener("click", () => {
				// Appeler toggleMenu pour fermer la navigation mobile
				toggleMenu();
			});
		});
	}
	navsetup();
	document.addEventListener("DOMContentLoaded", navsetup);
	document.addEventListener("astro:page-load", navsetup);

	function toggleMenu() {
		const navBlack = document.querySelector(".gdm-nav-1");
		const navRed = document.querySelector(".gdm-nav-2");
		const navWhite = document.querySelector(".gdm-nav-3");
		const overlay = document.querySelector(".mobile-menu-overlay");
		// Cette logique vérifie si l'une des classes est déjà visible
		// Si oui, cela signifie que le menu est ouvert et nous devons le fermer.
		//@ts-ignore
		const isMenuVisible = navBlack.classList.contains("activated");

		// Basculer la classe 'activated' sur chaque élément de navigation
		[navBlack, navRed, navWhite, overlay].forEach((nav) => {
			//@ts-ignore
			nav.classList.toggle("activated", !isMenuVisible);
			//@ts-ignore
			overlay.style.opacity = isMenuVisible ? "0" : "1";
		});
	}
</script>
<style lang="scss" is:global>
	@keyframes slideDown {
		0% {
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0);
		}
	}
	.header {
		@apply bg-scroll py-0 px-6 relative z-20 transition-all duration-300 ease-in-out h-[115px] flex items-center justify-center;
		box-shadow:
			2px 2px 10px rgba(0, 0, 0, 0.5),
			0 0 30px #9b7025 inset;
		&.stickynav {
			@apply bg-opacity-60 h-[85px] sticky top-0 transition-all duration-1000 ease-in-out z-30;
			animation: slideDown 0.5s forwards;
			nav.desktop-nav {
				@apply h-[40px];
			}
			.logo {
				@apply max-w-[150px] lg:max-w-[200px] -mb-[10px];
			}
			.liane-centre,.liane-gauche,.liane-droite {
				@apply hidden;
			}
			
		}

		.container {
			@apply max-w-[1900px] flex px-0 py-0 justify-between items-center;
		}
		.logo {
			@apply max-w-[240px] md:max-w-[280px] lg:max-w-[380px] transition-all duration-300 ease-in-out -mb-[30px] md:-mb-[60px] z-10 relative;
		}
		nav.desktop-nav {
			@apply xl:flex items-center h-[55px] hidden lg:block;
			ul {
				@apply flex h-full;
				li {
					@apply mx-4;
					a {
						@apply border-t-4 border-b-4 border-transparent font-lemon md:text-sm lg:text-sm xl:text-base font-bold h-full flex items-center text-blackbean lg:px-4 xl:px-4 flex-auto transition-all duration-300;
						&:hover {
							@apply text-harvestgold border-harvestgold transition-all duration-300;
						}
						svg {
							@apply fill-blackbean transition-all duration-300;
						}
						&.active {
							@apply text-harvestgold border-blackbean bg-transparent;
							svg {
								@apply fill-blackbean;
							}
						}
					}
					svg {
						@apply fill-white transition-all duration-300 hover:fill-harvestgold;
					}
				}
			}
		}
		nav.mobile-nav {
			@apply visible xl:hidden;
			
		}
		.liane-gauche {
			@apply absolute -top-2 left-0 z-0 pointer-events-none;
		}
		.liane-centre {
			@apply absolute top-0 left-[40%] pointer-events-none;
		}
		.liane-droite {
			@apply absolute top-0 right-0 pointer-events-none;
		}
	}
	.bd-container {
		@apply bg-white shadow-md;
	}
	.c-breadcrumbs {
		@apply text-blackbean mx-auto max-w-[1650px] px-6 py-2  capitalize relative;
		a.c-breadcrumbs__link {
			@apply text-harvestgold text-[12px] font-semibold;
			&:hover {
				@apply text-harvestgold;
			}
		}
	}

	.mobile-menu-overlay {
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7); /* Noir avec opacité */
		z-index: 29;
		pointer-events: none;
		transition: 300ms ease all;
	}

	/* Style pour montrer l'overlay quand le menu mobile est activé */
	.mobile-menu-overlay.activated {
		pointer-events: all;
		opacity: 1;
		transition: 300ms ease all;
	}
	.gdm-text {
		text-transform: uppercase;
	}

	.gdm-nav-btn {
		border: 0;
		background: transparent;
		cursor: pointer;
		font-size: 20px;
	}

	.gdm-open-btn {
		position: fixed;
		top: 10px;
		left: 10px;
	}

	.gdm-nav {
		position: fixed;
		top: 0;
		z-index: 30;
		right: 0;
		height: 100vh;

		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
	}

	.gdm-nav.activated {
		transform: translateX(0);
	}

	.gdm-nav-1 {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		align-items: flex-end;
		background-color: #D8C99E;
		width: 100%;
		max-width: 360px;
		min-width: 360px;
		transition-delay: 0s;
	}

	.gdm-nav-1.activated {
		transition-delay: 0s;
	}

	.gdm-nav-2 {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		align-items: flex-end;
		background-color: #637807;
		transition-delay: 0.1s;
		width: 95%;
	}

	.gdm-nav-2.activated {
		transition-delay: 0.1s;
	}

	.gdm-nav-3 {
		background-color: #3C1518;
		padding: 40px;
		position: relative;
		transition-delay: 0.2s;
		width: 95%;
	}

	.gdm-nav-3.activated {
		transition-delay: 0.2s;
	}

	.gdm-close-btn {
		fill: white;
		opacity: 0.6;
		position: absolute;
		top: 30px;
		left: 30px;
	}

	.gdm-logo {
		width: 150px;
	}

	.gdm-list {
		list-style-type: none;
		padding: 0;
	}

	.gdm-list li {
		margin: 10px 0;
	}

	.gdm-list li a {
		color: white;
		font-size: 18px;
		text-decoration: none;
		font-weight: bold;
		transition: 300ms ease all;
		svg.home-btn {
			@apply fill-white transition-all duration-300 text-base;
			&:hover {
				@apply fill-harvestgold transition-all duration-300;
			}
		}
		&:hover {
			@apply text-harvestgold transition-all duration-300;
		}
	}
</style>
