---
import { Image } from "astro:assets";
import TrotFuryTitle from "../assets/img/trotfury-title.png";
---

<section class="heroboxtrot jarallaxhero">
	<img
		src="/img/trotfury-hero.jpg"
		alt="TrotFury"
		width="1920"
		height="1160"
		class="heroimg jarallax-img"
	/>
	<div class="herocontainer">
		
		<Image src={TrotFuryTitle} alt="Trot Fury" width="545" height="159" class="logo-trot" />
		<p class="baseline">
			L'aventure tout Terrain
		</p>
		<h1>Location de Trottinette éléctrique à Caen</h1>
		<div class="cta_container">
		<a class="cta wood small" href="/accrobranches-caen-horaires-tarifs/">Réserver</a>
		</div>
	</div>
	
	<div class="overlay"></div>
	
</section>
<script>
	import { jarallax } from "jarallax";
	jarallax(document.querySelectorAll(".jarallaxhero"), {
		speed: 0.6,
	});
</script>
<style lang="scss">
	.heroboxtrot {
		@apply relative flex flex-col w-full h-full text-white xl:aspect-[16/6] lg:aspect-[16/6] md:aspect-[16/6] sm:aspect-[16/6] min-h-[350px] mt-0 z-0;
		.herocontainer {
			@apply relative flex-auto mx-auto max-w-7xl w-full h-full mt-2 z-10 flex flex-col justify-center md:items-start items-center text-center md:text-left px-8 drop-shadow-lg;
		}
		.logo-trot {
			@apply xl:w-[545px] h-auto lg:w-[400px] w-[300px] lg:h-auto mb-4;}
		.heroimg {
			@apply absolute top-0 left-0 w-full h-full object-cover object-center z-0;
		}
		h1 {
			@apply text-[19px] font-sylfaen font-normal text-white mb-6 -mt-2;
		}
		.baseline {
			@apply font-lemon -mt-8 xl:text-[40px] md:text-xxl sm:text-xxl text-xl  text-white mb-4;
		}

		.cta_container {
			@apply mt-6 gap-4 flex;
		}
		.overlay {
			@apply absolute top-0 left-0 w-full h-full bg-black opacity-30 z-0;
		}
	}
		.reassurbox {
		@apply w-[390px] bg-scroll border-2 border-blackbean rounded-lg shadow-lg p-8 text-blackbean;
		box-shadow:
			2px 2px 3px rgba(0, 0, 0, 0.2),
			0 0 15px #9b7025ae inset;
		@apply flex justify-center items-center gap-4;
		.right-content {
			@apply flex-auto;
		}
		svg {
			@apply shrink-0 flex-auto;
		}
		.h3 {
			@apply font-lemon text-lg;
		}
		p {
			@apply font-sylfaen text-lg;
		}
	}


</style>
