---

---

<section class="heroboxcontact jarallaxhero">
	<img
		src="/img/herocontact.jpg"
		alt="TrotFury"
		width="1920"
		height="1160"
		class="heroimg jarallax-img"
	/>
	<div class="herocontainer">
		<h1>Contactez-nous</h1>
		<p class="baseline">Accès et contact</p>
	</div>

	<div class="overlay"></div>
</section>

<script>
	import { jarallax } from "jarallax";
	function initJarallax() {
		jarallax(document.querySelectorAll(".jarallaxhero"), {
			speed: 0.6,
		});
	}
	document.addEventListener("DOMContentLoaded", initJarallax);
	document.addEventListener("astro:page-load", initJarallax);
</script>
<style lang="scss">
	.heroboxcontact {
		@apply relative flex flex-col w-full text-white xl:aspect-[16/4] lg:aspect-[16/4] md:aspect-[16/4] sm:aspect-[16/4] xs:aspect-[16/3] mt-0 z-0 min-h-[200px];
		.herocontainer {
			@apply relative mx-auto max-w-xl h-full mt-2 z-10  flex flex-col-reverse justify-center items-center text-center px-4 sm:px-8 xs:px-12 drop-shadow-lg;
		}
		.heroimg {
			@apply absolute top-0 left-0 w-full h-full object-cover object-center z-0;
		}
		h1 {
			@apply text-[19px] font-sylfaen font-normal text-white mb-6 -mt-2;
		}
		.baseline {
			@apply font-lemon xl:text-[40px] lg:text-xxxxl md:text-xxxl sm:text-xl text-xl  text-white mb-8 ;
		}

		.cta_container {
			@apply mt-6 gap-4 flex;
		}
		.overlay {
			@apply absolute top-0 left-0 w-full h-full bg-black opacity-30 z-0;
		}
	}
	

</style>
