---
import { Image } from "astro:assets";
import BabyParcoursBCK from "../assets/img/bck-parcours-baby-hobbit.jpg";
import HobbitParcoursBCK from "../assets/img/bck-parcours-hobbit.jpg";
import AdultParcoursBCK from "../assets/img/bck-parcours-adulte.jpg";
---

<div class="parcours-container">
	<div class="mx-auto relative">
		<div class="swiper-ParcoursSwiper overflow-hidden">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="internal-container">
						<h3>Pour les tout petits : Le parcours baby Hobbit</h3>
						<p>
							Le parcours Hobbit est conçu spécialement pour nos plus jeunes
							aventuriers ! Cette épopée enchanteresse leur permet d'explorer la
							forêt sereinement.
						</p>
						<p>
							Ils traverseront des ponts, chevaucheront le marteau de Thror et
							profiteront de la vue depuis les airs, tout cela en toute sécurité
							grâce à notre système de ligne de vie continue.
						</p>
						<p>
							Adapté aux enfants à partir de 4 ans, ce parcours promet des
							heures d'amusement et d'émerveillement, en pleine nature, dans un
							environnement sûr et stimulant !
						</p>
					</div>
					<Image
						src={BabyParcoursBCK}
						alt="Parcours Baby Hobbit"
						width="1920"
						height="1084"
						class="bg-img-parcours"
						loading="lazy"
					/>
				</div>
				<div class="swiper-slide">
					<div class="internal-container">
						<h3>L'Aventure des Jeunes Hobbits</h3>
						<p>
							Appel à tous les jeunes explorateurs ! Le parcours Hobbit est une
							aventur spécialement taillée pour les esprits aventureux âgés de 7
							à 12 ans.
						</p>
						<p>
							Glissez-vous à travers les tunnels de la Vieille Forêt et
							balancez-vous sur les lianes de la Lorien. Avec des ateliers
							conçus pour stimuler et amuser, nos aventuriers vivront leur quête
							sous la surveillance de nos Rangers de la Forêt.
						</p>
						<p>
							Notre système de sécurité innovant veille à ce que chaque petit
							Hobbit puisse vivre son aventure en toute confiance, permettant
							aux parents de se détendre pendant que les enfants s'élancent dans
							leur propre Odyssée.
						</p>
					</div>
					<Image
						src={HobbitParcoursBCK}
						alt="Parcours Hobbit"
						width="1920"
						height="1084"
						class="bg-img-parcours"
						loading="lazy"
					/>
				</div>
				<div class="swiper-slide">
					<div class="internal-container">
						<h3>Pour les aventuriers : La Quête des Braves</h3>
						<p>
							Aventuriers adultes et les jeunes adultes (13 ans et plus), le
							parcours des Braves vous attend pour tester votre courage et votre
							force.
						</p>
						<p>
							Affrontez les passages vertigineux de nos parcours et survolez nos
							étangs grâce aux tyroliennes épiques présentes sur le parc. Votre
							quête sera semée d'embûches et de merveilles, mais n'en restera
							pas moins amusante et pleine de sensations !
						</p>
						<p>
							Avec notre équipement de pointe et notre système de ligne de vie
							continue, vous pourrez vous concentrer sur l'aventure tout en
							bénéficiant d'une sécurité optimale. Ecrivez votre propre légende
							parmi les cimes des arbres !
						</p>
					</div>
					<Image
						src={AdultParcoursBCK}
						alt="Parcours Adultes"
						width="1920"
						height="1084"
						class="bg-img-parcours"
						loading="lazy"
					/>
				</div>
			</div>
		</div>

		<div class="navelementwraper">
			<div class="process-next">
				<img src="/img/nextbtn.png" alt="arrow" />
			</div>
			<div class="process-prev">
				<img src="/img/prevbtn.png" alt="arrow" />
			</div>
		</div>
	</div>
</div>

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeSwiperProcess() {
		var swiper = new Swiper(".swiper-ParcoursSwiper", {
			autoHeight: true,
			effect: "fade",
			fadeEffect: {
				crossFade: true,
			},
			slidesPerView: 1,
			watchSlidesProgress: true,
			slideToClickedSlide: true,
			loop: false,
			grabCursor: true,
			spaceBetween: 40,
			freeMode: false,
			speed: 500,
			navigation: {
				nextEl: ".process-next",
				prevEl: ".process-prev",
			},
		});
	}
	initializeSwiperProcess();
	document.addEventListener("astro:page-load", initializeSwiperProcess);
</script>

<style lang="scss">
	.internal-container {
		@apply z-20 max-w-3xl relative bg-black bg-opacity-70 md:p-12 p-6 text-white rounded-xl mt-80 mb-60 mr-8 ml-8;
		box-shadow: 0 0 40px #000000 inset;
		h3 {
			@apply text-white font-normal text-xl mb-4;
		}
		p {
			@apply text-white font-light text-[22px] leading-7 mb-3;
		}
	}
	.navelementwraper {
		@apply absolute top-0 left-0 right-0 z-10 h-full w-full pointer-events-none;
		.process-next,
		.process-prev {
			@apply z-30 cursor-pointer absolute top-1/2 w-12 h-12 flex items-center justify-center align-middle pointer-events-auto;
			svg {
				@apply fill-harvestgold  transition-all duration-300 ease-in-out  hover:fill-blackbean;
			}
		}
		.process-next {
			@apply lg:right-8 right-1 block;
		}
		.process-prev {
			@apply lg:left-8 left-1 block;
		}
	}
	.swiper {
		height: 100%;
		width: 100%;
	}

	.swiper-container {
		@apply relative overflow-hidden flex flex-col;
	}
	.swiper-wrapper {
		@apply mx-auto relative flex items-stretch;

		.bg-img-parcours {
			@apply absolute top-0 left-0 bottom-0 right-0 w-full h-full object-cover object-center z-0 opacity-60;
		}
	}

	.swiper-slide {
		@apply text-center text-base flex flex-col justify-center items-center h-full flex-grow;
	}

	.parcours-container {
		@apply relative;
	}
</style>
