---
import { Image } from "astro:assets";
import PixelSeparator from "./PixelSeparator.astro";
import SylvainImage from "../assets/img/sylvain.jpeg";
import JeromeImage from "../assets/img/jerome.jpg";
import CharlesDImage from "../assets/img/charlesd.jpg";
import MarieFImage from "../assets/img/marie-france.jpg";
import MarieMImage from "../assets/img/marie-mure-ravaud.jpg";
---

<section class="testimonials-customer py-24 px-6">
	<div class="testiband-container TestiBandContainer">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a/ACg8ocKi1NxGunh1Z7aYNB-HX6dwy9f9PNyKtXeAlvkrfJ_y=s120-c-rp-mo-br100"
						loading="lazy"
					/>
					<blockquote>
						"Très très bon site, de bon parcours et l'équipe est fun et très
						sympathique. Je recommande à 100% "
						<span class="name">minipioche</span>
					</blockquote>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a/ACg8ocIjctzi823yzTfB2-SpkPeqlLLOQUdDJX0WC3IGxzGH=s120-c-rp-mo-ba3-br100"
						loading="lazy"
					/>
					<blockquote>
						"Super endroit, bien conçu et le parcours enfant bien sécurisé "<span
							class="name">Bruno Seguin</span
						>
					</blockquote>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a-/ALV-UjUK71j_81VwURUbefVkep3qSWV_E8bWuWMmzWsv7vOvGQ=s120-c-rp-mo-ba3-br100
"
						loading="lazy"
					/>
					<blockquote>
						"Parc agréable, beaucoup de parcours, tarifs abordable. Tout les
						éléments pour passer une bonne journée en famille ou entre amis "<span
							class="name">Jeremy Gentil</span
						>
					</blockquote>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a-/ALV-UjWJR30LE8RVVmD_oUpOoCMCNL-M_iehN5qogFR_Ql-3xw=s120-c-rp-mo-br100
"
						loading="lazy"
					/>
					<blockquote>
						"Super accrobranche ! Pour tout niveau👌 "<span class="name"
							>SprintBreak SAS</span>
					</blockquote>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a/ACg8ocK60Ksmi9wpYb25w8hC5d8CEK4Kr1WaUcvfbk8vB4D8=s120-c-rp-mo-br100
"
						loading="lazy"
					/>
					<blockquote>
						"Très beau parcours, on sent que ceux qui conçoivent les parcours y
						mettent du cœur. Bravo on reviendra "<span class="name"
							>Jeremy Debray</span
						>
					</blockquote>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a/ACg8ocKn_IEC9wxNFrEDnbBzII9DnWCClgB0FhaFRaR4c0k=s120-c-rp-mo-br100
"
						loading="lazy"
					/>
					<blockquote>
						"Des parcours ultra équilibrés en pleine harmonie avec la
						végétation. De très loin le plus beau circuit d'accrobranche de la
						région de CAEN - A faire sans aucune hésitation!"<span class="name"
							>Vincent Leroux</span
						>
					</blockquote>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<img
						src="https://lh3.googleusercontent.com/a/ACg8ocKZxHBG9Uy0q5azxxXeFjI0GskaaPWi4SkEIiflFDsp=s120-c-rp-mo-br100
"
						loading="lazy"
					/>
					<blockquote>
						"Lieu très agréable ... Personnel très sympas ... Une bonne après
						midi de passer .... "<span class="name">Magali Mariette</span>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeTestiBandSwiper() {
		var swiper = new Swiper(".TestiBandContainer", {
			loop: true,
			autoplay: {
				delay: 6000,
			},
			slidesPerView: 1,
			spaceBetween: 0,
			freeMode: false,
			speed: 700,
			effect: "fade",
			fadeEffect: {
				crossFade: true,
			},
		});
	}
	initializeTestiBandSwiper();
	document.addEventListener("astro:page-load", initializeTestiBandSwiper);
</script>

<style lang="scss">
	.swiper {
		height: 100%;
		width: 100%;
	}
	.swiper-wrapper {
		@apply mx-auto;
	}

	.testiband-container {
		@apply relative overflow-hidden z-20 max-w-4xl mx-auto;
		.swiper-slide {
			.slidecontent {@apply flex gap-6 justify-center items-center;}
			img {
				@apply rounded-full self-center;
			}
			
		
		
			blockquote {
				@apply text-xl font-sourcesans font-bold mb-3 text-white sm:text-left text-center;
			.name {
				@apply block text-base text-right font-sourcesans font-normal text-white;
			}}
			
		}
	}
	.testimonials-customer {
		background: url("/img/bck-testiband.jpg") no-repeat center center;
		background-size: cover;
	}
</style>
