---

---

<div class="relative w-full mt-20 px-0 xs:px-4">
	<div class="testi-container TestiContainer overflow-clip w-full">
		<div class="swiper-wrapper w-full">
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Super bon moment passé en famille!!! Accueil chaleureux et parc
						accrobranche top aussi bien pour les adultes que pour les enfants
						!!!"
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocJ2OIHpYjaGWO1WVSEGKWUA_KPU5L3IG4ESqNouZofq=s120-c-rp-mo-br100"
							loading="lazy"
						/>
						<span class="name">Sarah Escutnaire</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Des parcours d'accrobranche assez sympa. Les décors sont originaux
						sur le thème du seigneur des anneaux même s'il pourrait être encore
						poussé d'avantage."
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjWeYTs_VYZmAE2HddffNmScts4-CmfWfrOtYHH3s6UYcQ=s120-c-rp-mo-ba5-br100"
							loading="lazy"
						/>
						<span class="name">Manon Slgt</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Super endroit, avec une équipe au top et des parcours avec
						plusieurs niveaux de difficulté. Parfait 👍"
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjV8MbhWk1HTeUcsq7JmGNEHEEMxU8zccu0EfoSS4QNw-99j=s120-c-rp-mo-ba4-br100
"
							loading="lazy"
						/>
						<span class="name">Christophe Woulzez</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Super accrobranche ! Et personnel très gentil ! "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjXFbNQrmgi09i5_bdXPUdT1bY9kJwA8CXVEhOIgUNrmY-M=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Jean-Rémi JEANNE</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>"Moment très agréable partagé entre amis "</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjV_3IpFU5Ex3FGxL1B4Y1d3oHvQkwpa-P9fL_zWkMX-RJc=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Joel Robard</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Très jolie lieu pour l’accrobranche le décor est top l’accueil est
						sympa et l équipe au top. On a aimé les prix sont attractifs et les
						parcours variés. On adore les tyroliennes et il y en a de superbes
						😊 "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjUxqps7CQ1N_UAv2AaELYWm7ChJVjwuX-AvWTuBat5azrU=s120-c-rp-mo-ba4-br100
"
							loading="lazy"
						/>
						<span class="name">Dr. D</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Découverte des trotinettes électriques avec ballade en famille.
						Très bon accueil ! Le responsable prend le temps d'expliquer les
						choses, n'hésite pas à discuter de son activité pour le peu qu'on
						soit curieux, bref, ils prennent le temps, c'est plus humain et ça
						fait du bien 🤗 "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjUqXRU2uATsaATlN9FLg60jbW0Ggt1yAzFR-2piFQq15UE=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Lilly HB</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Bon accueil avec conseils pour les différentes étapes des divers
						parcours. "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocL9G3cjuklVG8cRIuqADahD1r7-QaCpu3ggtZFInXYZ=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Vannier Suzanne</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Super pour les enfants, très accessible. Accueil au top" "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjX80U4ACW8bCwtsOEPvBRboCY1VOPh6m79ob2vMkDvGclw=s120-c-rp-mo-ba3-br100
"
							loading="lazy"
						/>
						<span class="name">David Lépinay</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Très bon parc pour les débutants. Très spacieux. Super endroit où
						on peut pique-niquer sous des parasols. Le petit plus: le tir à
						l'arc gratuit ." "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocIZ6xNgjSaiuXf7n7T1Uo24kcTya0KxXEJHASRAtS8R=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Ghislaine Cozic</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Excellent moment ☺️👍 Mes enfants se sont éclatés sur les parcours
						, toilette sèche , équipe agréable , parcours a thème en plus des
						parcours de base .tarif raisonnable pour ce type d'activité" "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjWIVMljGixdGyrcebEaIK0ucGquMjQreOOtDWm-TwfMEkY=s120-c-rp-mo-ba3-br100
"
							loading="lazy"
						/>
						<span class="name">sandy falantin</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Très très bon site, de bon parcours et l'équipe est fun et très
						sympathique. Je recommande à 100% "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocKi1NxGunh1Z7aYNB-HX6dwy9f9PNyKtXeAlvkrfJ_y=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">minipioche</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Super endroit, bien conçu et le parcours enfant bien sécurisé "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocIjctzi823yzTfB2-SpkPeqlLLOQUdDJX0WC3IGxzGH=s120-c-rp-mo-ba3-br100
"
							loading="lazy"
						/>
						<span class="name">Bruno Seguin</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Parc agréable, beaucoup de parcours, tarifs abordable. Tout les
						éléments pour passer une bonne journée en famille ou entre amis "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjUK71j_81VwURUbefVkep3qSWV_E8bWuWMmzWsv7vOvGQ=s120-c-rp-mo-ba3-br100
"
							loading="lazy"
						/>
						<span class="name">Jeremy Gentil</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>"Super accrobranche ! Pour tout niveau👌 "</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjWJR30LE8RVVmD_oUpOoCMCNL-M_iehN5qogFR_Ql-3xw=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">SprintBreak SAS</span>
					</div>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Très beau parcours, on sent que ceux qui conçoivent les parcours y
						mettent du cœur. Bravo on reviendra "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocK60Ksmi9wpYb25w8hC5d8CEK4Kr1WaUcvfbk8vB4D8=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Jeremy Debray</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Des parcours ultra équilibrés en pleine harmonie avec la
						végétation. De très loin le plus beau circuit d'accrobranche de la
						région de CAEN - A faire sans aucune hésitation!"
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocKn_IEC9wxNFrEDnbBzII9DnWCClgB0FhaFRaR4c0k=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Vincent Leroux</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Lieu très agréable ... Personnel très sympas ... Une bonne après
						midi de passer .... "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a/ACg8ocKZxHBG9Uy0q5azxxXeFjI0GskaaPWi4SkEIiflFDsp=s120-c-rp-mo-br100
"
							loading="lazy"
						/>
						<span class="name">Magali Mariette</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Magnifique parc d'accrobranche, en pleine nature où l'on se sent si
						bien. Les parcours proposés sont top ! Merci à Chris, mon sauveur,
						qui est venue me chercher après avoir fait une crise de panique à 7m
						de haut 😅 "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjXBHayS_VlrB76Zq02zQRqfDuzexyPkECOYdJV3ZTY2c6w=s120-c-rp-mo-ba2-br100
"
							loading="lazy"
						/>
						<span class="name">Kassandra Behue</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slidecontent">
					<blockquote>
						"Super ! Parcours adapté pour toute la famille. En revanche,
						attention toilettes sèches ! "
					</blockquote>
					<div class="who">
						<img
							src="https://lh3.googleusercontent.com/a-/ALV-UjXk_VRKRxRCoHiTvCA1-PRTY23N3zGSXq6j_3pgKYGgTg=s120-c-rp-mo-ba2-br100
"
							loading="lazy"
						/>
						<span class="name">Mylie Siebecke</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	import Swiper from "swiper/bundle";
	import "swiper/css/bundle";

	function initializeTestiSwiper() {
		var swiper = new Swiper(".TestiContainer", {
			effect: "coverflow",
			coverflowEffect: {
				rotate: 20,
				stretch: 0,
				depth: 0,
				modifier: 0.2,
				slideShadows: true,
			},
			pagination: {
				el: ".testi-pagination",
				clickable: true,
			},
			loop: true,
			autoplay: {
				delay: 3000,
			},
			breakpoints: {
				320: {
					slidesPerView: 1,
					spaceBetween: 20,
				},
				480: {
					slidesPerView: 1,
					spaceBetween: 30,
				},
				640: {
					slidesPerView: 2,
					spaceBetween: 40,
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 40,
				},
				1024: {
					slidesPerView: 4,
					spaceBetween: 40,
				},
				1280: {
					slidesPerView: 4,
					spaceBetween: 40,
				},
			},
			spaceBetween: 30,
			freeMode: true,
			speed: 900,
		});
	}
	initializeTestiSwiper();
	document.addEventListener("astro:page-load", initializeTestiSwiper);
</script>

<style lang="scss">
	.swiper {
		height: 100%;
		width: 100%;
	}
	.swiper-wrapper {
	}

	.testi-container {
		@apply relative z-20;
		blockquote {
			@apply text-blackbean;
		}
	}

	.swiper-slide {
		@apply bg-forest bg-opacity-90 p-6 rounded-sm border-2 border-x-forest;
		&:hover {
			@apply cursor-grab;
		}
		.slidecontent {
			@apply flex flex-col justify-center;
		}
		blockquote {
			@apply text-xl text-white mb-4 mt-4;
		}

		img {
			@apply rounded-full w-[70px];
		}
		span.name {
			@apply text-white font-lemon text-lg ml-4;
		}
		.who {
			@apply flex items-center;
		}
	}
</style>
